body{
	font-family: helvetica;
	font-size: 1em;
	font-weight: bold;
}

.content{
	height: auto;
	width: 1000px;
	margin: 0 auto;
}

.elementos { 
	width: 294px; 
	height: 500px; 
	border: 3px solid;
	float: left;
}

.flowchart {
	width: 594px;
	min-height: 500px;
	border: 3px solid;
	float: left;
	margin-left: 50px;
	padding-left: 50px;
}

.variable { 
	width: 100px; 
	border: 4px solid red; 
	text-align: center;
}

.operacion { 
	width: 100px; 
	border: 4px solid green; 
	text-align: center;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.for { 
	width: 100px; 
	height: 30px;
	border: 4px double #d7db0d; 
	text-align: center;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.endfor { 
	width: 100px; 
	border: 4px double #d7db0d; 
	text-align: center;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


.while{ 
	width: 100px; 
	height: 30px;
	border: 4px solid #e07100; 
	text-align: center;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.endwhile{ 
	width: 100px; 
	border: 4px solid #e07100; 
	text-align: center;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


.estatuto {
	width: 100px;
	height: 40px;
	border: 4px solid blue;
	text-align: center;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}

.if { 
	width: 100px; 
	height: 30px;
	border: 4px dotted purple;
	text-align: center;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.endif { 
	width: 100px; 
	height: 30px;
	border: 4px dotted purple;
	text-align: center;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.elemento{
	width:108px;
}

.conector{
    width:3px;
    height:50px;
    background-color:black;
    margin: 0 auto;
}

.conector2{
    width:10px;
    height:100px;
    margin-top: -110px;
    margin-left: 110px;
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:none;
}
